* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
html, body {
    background-image: linear-gradient(to bottom, #41249b, #5b3ab4, #7551cd, #8f67e6, #a97dff);
}
main {
    background-color: #b66c36;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana,
    sans-serif;
    line-height: 1.6;
    text-align: left;
    width: 150vh;
    box-shadow: 1px 1px 1px black;
}
article {
    background-color: #8db065;
    border: 1px solid #ccc;
    border-color: #CCC #999 #999 #CCC;
    margin-bottom: 20px;
    padding: 10px;
}
article img {
    width: 170px;
    height: 150px;
    border: 1px solid #7E9F19;
    float: left;
    margin: 20px 20px 0px 0px;
    padding: 2px;
}
article h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}
article p {
    margin-top: 0;
    padding-top: 20px;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
    color: #FFF;
}
h1 a:hover {
    background-color: #7E9F19;
    color: #FFF;
}
h1 a:focus {
    background-color: yellow;
}
h1 a:active {
    text-decoration: underline;
}
aside {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    padding: 10px;
}
aside h3 {
    font-size: 14px;
    margin-top: 0;
}
aside ol {
    font-size: 12px;
    list-style-type: none;
    padding: 10px;
}
aside a {
    text-decoration: none;
    color: black;
}
aside a:hover {
    font-size: 1rem;
    text-decoration: solid;
}
footer {
    font-size: 12px;
    text-align: center;
    background-color: #7c49e9;
    text-align: center;
}
#lost-paragraph {
    display: none;
}



